body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* common style */
.header {
    width: 100%;
    background-image: radial-gradient(#fff, #ffd6d6);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1210px;
    margin-bottom: 100px;
}

/* hero section */
.hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}

.hero-main .hero-left h1 {
    font-size: 40px;
}

.hero-main .hero-left p {
    color: gray;
    text-align: justify;
}


.hero-main .hero-right img {
    width: 70%;
    float: right;
}

#title {
    color: rgb(255, 10, 10);
}

#btn {
    text-decoration: none;
    color: white;
    background-color: rgb(255, 10, 10);
    padding: 10px 40px;
    border-radius: 20px;
    position: relative;
    top: 20px;
    text-align: center;
    box-shadow: 5px 5px 15px gray;
    transition: .5s;
    word-spacing: 5px;
}

#btn i {
    position: relative;
    top: 3px;
    font-size: 20px;
}

#btn:hover {
    background-color: white;
    color: black;
    box-shadow: 5px 5px 15px rgb(255, 10, 10);
}


/* catagory section */
.catagories {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}

.catagori-item {
    padding: 0px 20px;
    margin-top: 50px;
}

.catagori-item img {
    width: 100%;
}

/* featured-products section */
.section-title {
    text-align: center;
    font-size: 25px;
}

.section-title span {
    color: rgb(255, 10, 10);
}

.products-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px 50px;
    margin-top: 80px;
}

.featured-products {
    padding: 0 20px;
}

.featured-image img {
    width: 100%;
}

.featured-details h4 {
    color: #555;
    font-weight: normal;
}

.featured-details p {
    color: #555;
    font-weight: normal;
}

.fa-star {
    color: rgb(167, 161, 161);
}

.fillup {
    color: rgb(255, 10, 10);
}


/* latest-products section */
.section-title {
    text-align: center;
    font-size: 25px;
}

.section-title span {
    color: rgb(255, 10, 10);
}

.latest-products-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    padding: 0px 50px;
    margin-top: 80px;
}

.latest-products {
    padding: 0 20px;
    transition: transform .5s;
}

.latest-products:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.latest-image img {
    width: 100%;
}

.latest-details h4 {
    color: #555;
    font-weight: normal;
}

.latest-details p {
    color: #555;
    font-weight: normal;
}


/* offer section */

.offer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.offer-image img {
    width: 100%;
    transition: transform .5s;
    position: relative;
    top: 50px;
    left: 80px;
}

.offer-image img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.offer-details {
    position: relative;
    top: 30px;
    left: 80px;
}

.offer-details h1 {
    font-size: 35px;
}

.offer-details h4 {
    color: #555;
    font-weight: normal;
}

.offer-details p {
    color: #555;
    font-weight: normal;
    line-height: 25px;
}

/* testimonial section */
.testimonial-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    padding: 0px 50px;
    margin-top: 100px;
}

.testimonial-details {
    text-align: center;
    transition: .5s;
}

.testimonial-details:hover {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 10px gray;
}

.testimonial-detail {
    padding: 25px;
}

.testimonial-detail p {
    color: gray;
    text-align: center;
}

.testimonial-image img {
    border-radius: 100px;
    width: 30%;
}

#quote {
    color: rgb(255, 10, 10);
    font-size: 25px;
}

/* brands section */
.brands-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    padding: 0 50px;
}

.brands-image {
    text-align: center;
}

.brands-image img {
    transition: .5s;
    filter: grayscale(100%);
}

.brands-image img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* footer section */
footer {
    background-color: black;
    width: 100%;
}

.footer-main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    margin-left: 65px;
    margin-top: 50px;
    width: 100%;
}

.footer-main h4 {
    color: white;
    font-size: 20px;
}

.footer-main p {
    color: gray;
}

.footer-details a img {
    width: 40%;
}

.footer-details ul {
    margin: 0;
    padding: 0;
}

.footer-details ul li {
    list-style: none;
    margin-top: 10px;
}

.footer-details ul li a {
    color: gray;
    text-decoration: none;
    transition: .5s;
}

.footer-details ul li a:hover {
    cursor: pointer;
    color: rgb(255, 10, 10);
}

#white-text {
    text-align: center;
}

.footer-details i {
    color: gray;
    font-size: 25px;
    padding: 10px 10px;
    transition: .5s;
}

.footer-details i:hover {
    cursor: pointer;
    color: rgb(255, 10, 10);
}

.copyright {
    margin-top: 20px;
    text-align: center;
    color: gray;
}

.copyright p {
    font-size: 15px;
}

.copyright span {
    color: rgb(255, 10, 10);
}






/* media queries for mobile */
@media screen and (max-width: 688px) {
    .container {
        width: 100%;
        margin-bottom: 100px;
    }

    .hero-main {
        align-items: center;
        flex-direction: column;
        margin-left: 0;
    }

    .hero-left {
        padding: 20px 20px;
        margin-bottom: 20px;
    }

    .hero-main .hero-left h1 {
        font-size: 25px;
    }

    .hero-right {
        padding: 20px 0px;
    }

    .hero-main .hero-right img {
        width: 70%;
        float: none;
        margin-left: 50px;
    }

    .catagories {
        flex-direction: column;
    }

    .products-main {
        display: grid;
        grid-row-gap: 50px;
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 20px;
        margin-top: 50px;
    }

    .featured-products {
        padding: 0 20px;
        box-shadow: 5px 5px 15px gray;
    }

    .latest-products-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
        padding: 0px 20px;
    }

    .offer-main {
        padding: 0px 50px;
        flex-direction: column;
    }

    .offer-image img {
        left: 0;
    }

    .offer-details {
        top: 50px;
        left: 0;
    }

    .testimonial-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        padding: 0px 20px;
        margin-top: 50px;
    }

    .brands-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .brands-image img {
        transition: .5s;
        width: 95%;
        filter: grayscale(100%);
    }

    .footer-main {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        text-align: center;
    }

    .footer-details {
        padding: 10px 65px;
    }
}