/* -------------nav-bar---------------- */
.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1210px;
    margin-left: 100px;
}

.nav-main .nav-logo img {
    width: 50%;
}

.nav-main .nav-menu ul {
    display: flex;
    margin-right: 80px;
}

.nav-main .nav-menu ul li {
    list-style: none;
    margin-right: 10px;
}

.nav-main .nav-menu ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 5px;
    transition: .2s;
    border: 2px solid transparent;

}

.nav-main .nav-menu ul li a:hover {
    color: rgb(255, 10, 10);
    border-bottom: 2px solid rgb(255, 10, 10);
}

.nav-main .nav-menu #cart-icon {
    position: absolute;
    margin-top: -8px;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
}


/* media query for mobile */
@media screen and (max-width: 688px) {
    .nav-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-left: -20px;
    }

    .nav-main .nav-logo img {
        width: 50%;
        margin-left: 22px;
    }

    .nav-main .nav-menu ul {
        display: flex;
        flex-direction: column;
        background-color: gray;
        width: 100%;
        text-align: center;
    }

    .nav-main .nav-menu ul li {
        list-style: none;
        margin-right: 30px;
        margin-top: 20px;
    }

    .nav-main .nav-menu #cart-icon {
        position: absolute;
        top: 18px;
        left: 135px;
        border: none;
        width: 35px;
        height: 35px;
        cursor: pointer;
    }
}